@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /*Colors*/

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Light-Grayish-Blue);
    color: var(--Desaturated-Dark-Blue);
    margin-block: 10vh;
    min-height: fit-content;
}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 20px 20px hsl(210, 25%, 88%);
}

picture, picture img {
    width: 100%;
    height: auto;
}

#text {
    margin: 2rem;
}

#text h1 {
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}

#text p {
    margin-block: 2rem;
}

#avatar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#image {
    width: 40px;
    height: 40px;git add 
    border: none;
    border-radius: 50%;
    background: var(--Light-Grayish-Blue);
    cursor: pointer;
    z-index: 2;
}